<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Add Faculty Member</title>
</head>

<body>

    <div><a style="float:right; margin-right: 40px" href="/logout"> <button>Logout</button> </a></div>
    {% if messages %}
    <center>
    <div style="max-width:550px;">
        {% for message in messages %}
        <div {% if message.tags == 'error' %} class="alert alert-danger" role="alert" {% else %} class="alert alert-success" {% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    </center>
    {% endif %}
    
    <div>

        <form class="form" method="post" action="/change_password">
            {% csrf_token %}

            <div class="row">
                <label>
                    <span>New password</span>
                    <input type="password" name="password" required>
                </label>
            </div>
			
            <div>
                <button style="margin-right: 20px" type="submit">Submit</button>
                <a class="alert" style="text-decoration: none" href="/staff_dashboard">Back</a>
            </div>

        </form>

    </div>

</body>

</html>